
td{
  width: 100px;
  height: 100px;
  /*border: 1px solid black;*/
  border-radius: 50px;
  text-align: center;
}

img{
  vertical-align: middle;
}

.parent{
  position: relative;
  top: 0;
  left: 0;
}

.hidden{
  display: none;
}

.cover{
  background: linear-gradient(#FF5F6D, #FFC371);
  /*background-image: url('images/chicken_cha_cha.jpg');*/
}

.img-size{
  width: 80px;
  height: 80px;
}

.player1{
  border: 2px solid red;
}

.player1-active{
  border: 2px solid red;
  background: pink;
}

.player1-target {
  background-size: cover;
  animation: player1-pulse 1s infinite;
}

.player2{
  border: 2px solid blue;
}

.player2-active{
  border: 2px solid blue;
  background: #87cefa;
}

.player2-target {
  background-size: cover;
  animation: player2-pulse 1s infinite;
}

.player3{
  border: 2px solid green;
}

.player3-active{
  border: 2px solid green;
  background: #b3ffb3;
}

.player3-target {
  background-size: cover;
  animation: player3-pulse 1s infinite;
}

.player4{
  border: 2px solid purple;
}

.player4-active{
  border: 2px solid purple;
  background: #ff80ff;
}

.player4-target {
  background-size: cover;
  animation: player4-pulse 1s infinite;
}


@keyframes player1-pulse {
  0% {
    background-color: white;
  }
  50% {
    background-color: pink;
  }
  100%{
    background-color: white;
  }
}

@keyframes player2-pulse {
  0% {
    background-color: white;
  }
  50% {
    background-color: #87cefa;
  }
  100%{
    background-color: white;
  }
}

@keyframes player3-pulse {
  0% {
    background-color: white;
  }
  50% {
    background-color: #b3ffb3;
  }
  100%{
    background-color: white;
  }
}

@keyframes player4-pulse {
  0% {
    background-color: white;
  }
  50% {
    background-color: #ff80ff;
  }
  100%{
    background-color: white;
  }
}
