body {
   background-image: url("images/toyslaptop.jpg");
   background-size: cover;
   background-repeat: no-repeat;
}

/*------------------------------------Gameboard and info sheet*/
.gameboard {
   position: relative;
   height: 100vh;
}


#info {
   position: relative;
   height: 100vh;
}

/*------------------------------------ Info sheet contents*/
#paper-sheet {
   position: absolute;
   margin-top: 20%;
   width: 70%;
}

#life-count {
   position: absolute;
   margin-top: 45%;
   left: 10%;
}

#currentPlayerDisplay {
   position: absolute;
   margin-top: 30%;
   left: 10%;
   font-family: 'Indie Flower', cursive;
   font-size: 3em;
   color: red;
}

.player-name {
   font-size: 2.5em;
}

#p1-life-count {
   font-family: 'Indie Flower', cursive;
   color: red;
}

#p2-life-count {
   font-family: 'Gloria Hallelujah', cursive;
   color: blue;
}

#p3-life-count {
   font-family: 'Permanent Marker', cursive;
   color: green;
}

#p4-life-count {
   font-family: 'Gaegu', cursive;
   color: purple;
}

#clicks {
   font-family: 'Indie Flower', cursive;
   color: red;
}

#timer {
   font-family: 'Indie Flower', cursive;
   color: red;
}

#info-angry-chicken{
   position: absolute;
   width: 25%;
   margin-top: 55%;
   left: 43%;
}


.game-button {
   background: none;
   border: none;
   font-size: 2em;
   font-family: 'Finger Paint', cursive;
   transition: all 0.1s ease-in-out;
   outline: none;
}

#new-game-button {
   position: absolute;
   margin-top: 88%;
   left: 5%;
   transform: rotate(-5deg);
}

#new-game-button:hover {
   color: red;
}


#how-to-play-button {
   position: absolute;
   margin-top: 89%;
   left: 35%;
   transform: rotate(3deg);
}

#how-to-play-button:hover {
   color: blue;
}

#mute-music {
   position: absolute;
   margin-top: 98%;
   left: 5%;
   transform: rotate(-10deg);
}

#mute-music:hover {
   color: green;
}

#mute-fx {
   position: absolute;
   margin-top: 97%;
   left: 40%;
}

#mute-fx:hover {
   color: purple;
}


/*----------------------------------gameboard pieces*/

.card {
   width: 100px;
   height: 100px;
   border: 1px solid black;
   border-radius: 60px;
   padding-top: 5px;
   position: absolute;
   text-align: center;
   background: rgba(255, 255, 255, 0.7);
   border: 1px solid black;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.hiddenCards {
   cursor: pointer;
}

.hidden1 {
   display: none;
}

.cover {
   background-image: url("images/transparent chicken 7.png");
   background-size: cover;
}

.img-size {
   width: 80px;
   height: 80px;
   padding-top: 10px;
}

#square-0 {
   top: 20%;
   left: 25%;

}

#square-1 {
   top: 22%;
   left: 35%;
}


#square-2 {
   top: 21%;
   left: 45%;
}


#square-3 {
   top: 14%;
   left: 53%;
}

#square-4 {
   top: 11%;
   left: 63%;
}

#square-5 {
   top: 13%;
   left: 73%;
}

#square-6 {
   top: 18%;
   left: 83%;
}

#square-7 {
   top: 29%;
   left: 82%;
}

#square-8 {
   top: 40%;
   left: 81%;
}

#square-9 {
   top: 51%;
   left: 80%;
}

#square-10 {
   top: 62%;
   left: 79%;
}

#square-11 {
   top: 73%;
   left: 80%;
}

#square-12 {
   top: 75%;
   left: 69%;
}

#square-13 {
   top: 81%;
   left: 60%;
}

#square-14 {
   top: 73%;
   left: 52%;
}


#square-15 {
   top: 80%;
   left: 44%;
}

#square-16 {
   top: 74%;
   left: 34%;
}

#square-17 {
   top: 81%;
   left: 26%;
}

#square-18 {
   top: 78%;
   left: 16%;
}

#square-19 {
   top: 67%;
   left: 12%;
}

#square-20 {
   top: 56%;
   left: 12%;
}

#square-21 {
   top: 46%;
   left: 16%;
}

#square-22 {
   top: 35%;
   left: 17%;
}

#square-23 {
   top: 24%;
   left: 15%;
}


#hidden-square-0 {
   top: 38%;
   left: 30%;
}

#hidden-square-1 {
   top: 33%;
   left: 41%;
}

#hidden-square-2 {
   top: 30%;
   left: 53%;
}

#hidden-square-3 {
   top: 25%;
   left: 65%;
}

#hidden-square-4 {
   top: 49%;
   left: 27%;
}

#hidden-square-5 {
   top: 46%;
   left: 39%;
}

#hidden-square-6 {
   top: 46%;
   left: 51%;
}

#hidden-square-7 {
   top: 39%;
   left: 63%;
}

#hidden-square-8 {
   top: 60%;
   left: 27%;
}

#hidden-square-9 {
   top: 58%;
   left: 39%;
}

#hidden-square-10 {
   top: 61%;
   left: 50%;
}

#hidden-square-11 {
   top: 56%;
   left: 64%;
}



/*--------------------------------players current and target positions on board*/

.player1 {
   border: 5px solid red;
}

.player1-active {
   border: 5px solid red;
   background: pink;
}

.player1-target {
   background-size: cover;
   animation: player1-pulse 1s infinite;
}

.player2 {
   border: 5px solid blue;
}

.player2-active {
   border: 5px solid blue;
   background: #87cefa;
}

.player2-target {
   background-size: cover;
   animation: player2-pulse 1s infinite;
}

.player3 {
   border: 5px solid green;
}

.player3-active {
   border: 5px solid green;
   background: #b3ffb3;
}

.player3-target {
   background-size: cover;
   animation: player3-pulse 1s infinite;
}

.player4 {
   border: 5px solid purple;
}

.player4-active {
   border: 5px solid purple;
   background: #ff80ff;
}

.player4-target {
   background-size: cover;
   animation: player4-pulse 1s infinite;
}


/*---------------------------------modals*/

.modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background: rgba(0, 0, 0, 0.5);
}

.modal-content {
   background: #fff;
   margin: 5% auto;
   width: 50%;
   box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
   animation-name: modalopen;
   animation-duration: 1s;
   border: 5px solid blue;
   border-radius: 20px;
   text-align: center;
   position: relative;
   padding-bottom: 40px;
}

.modal-header {
   color: blue;
   margin: 2% auto;
   border-bottom: none !important;
   text-align: center;
   display: inline;
}

#closeBtn{
   position: absolute;
   top:5%;
   left: 90%;
   color: #ccc;
   font-size: 30px;
}

#closeBtn:hover, #closeBtn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-chicken {
   top: 2%;
   left: 82%;
   width: 10%;
   position: absolute;
}

.end-game-chicken {
   top: 0%;
   left: 5%;
   width: 12%;
   position: absolute;
}

.modal-choice {
   display: inline;
   margin: 0 10%;
   margin-bottom: 5%;
   font-size: 2em;
   color: blue;
}

.modal-choice:hover,
.difficulty-choice:hover {
   text-decoration: none;
   cursor: pointer;
}

.difficulty-choice {
   margin: 0 auto;
   margin-bottom: 5%;
   font-size: 3em;
   color: blue;
}


.modal-body {
   padding: 10px 20px;
   font-size: 1.5em;
}

.game-info {
   text-align: left;
}

.mb-10 {
   margin-bottom: 40px;
}


/*------------------------------keyframes*/

@keyframes modalopen {
   from {
      opacity: 0
   }
   to {
      opacity: 1
   }
}


@keyframes player1-pulse {
   0% {
      background-color: rgba(255, 255, 255, 0.7);
   }
   50% {
      background-color: pink;
   }
   100% {
      background-color: rgba(255, 255, 255, 0.7);
   }
}

@keyframes player2-pulse {
   0% {
      background-color: rgba(255, 255, 255, 0.7);
   }
   50% {
      background-color: #87cefa;
   }
   100% {
      background-color: rgba(255, 255, 255, 0.7);
   }
}

@keyframes player3-pulse {
   0% {
      background: rgba(255, 255, 255, 0.7);
   }
   50% {
      background-color: #b3ffb3;
   }
   100% {
      background-color: rgba(255, 255, 255, 0.7);
   }
}

@keyframes player4-pulse {
   0% {
      background-color: rgba(255, 255, 255, 0.7);
   }
   50% {
      background-color: #ff80ff;
   }
   100% {
      background-color: rgba(255, 255, 255, 0.7);
   }
}

/*------------------------------------media queries*/

@media only screen and (max-width: 768px) {
   body {
      background-image: url("images/cartoonfarm.png");
   }
   .card {
      width: 40px;
      height: 40px;
      padding: 0
   }
   .img-size {
      width: 30px;
      height: 30px;
   }
   .game-button {
      font-size: 10px;
   }
   .player-name {
      font-size: 10px;
   }
   #currentPlayerDisplay {
      font-size: 10px;
   }
   #p1-life-count {
      font-size: 10px;
      margin: 5px;
   }
   #p2-life-count {
      font-size: 10px;
      margin: 5px;
   }
   #p3-life-count {
      font-size: 10px;
      margin: 5px;
   }
   #p4-life-count {
      font-size: 10px;
      margin: 5px;
   }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
   body {
      background-image: url("images/cartoonfarm.png");
   }
   .card {
      width: 50px;
      height: 50px;
      padding: 0
   }
   .img-size {
      width: 40px;
      height: 40px;
   }
   .game-button {
      font-size: 15px;
   }
   .player-name {
      font-size: 15px;
   }
   #currentPlayerDisplay {
      font-size: 15px;
   }
   #p1-life-count {
      margin: 5px;
   }
   #p2-life-count {
      margin: 5px;
   }
   #p3-life-count {
      margin: 5px;
   }
   #p4-life-count {
      margin: 5px;
   }
}

@media only screen and (min-width: 993px) and (max-width: 1366px) {
   body {
      background-image: url("images/toystablet.jpg");
   }
   .card {
      width: 70px;
      height: 70px;
      padding: 0
   }
   .img-size {
      width: 45px;
      height: 45px;
      margin-top: 5px;
   }
   .game-button {
      font-size: 15px;
   }
   .player-name {
      font-size: 20px;
   }
   #currentPlayerDisplay {
      font-size: 20px;
   }
   #p1-life-count {
      margin: 5px;
   }
   #p2-life-count {
      margin: 5px;
   }
   #p3-life-count {
      margin: 5px;
   }
   #p4-life-count {
      margin: 5px;
   }
}
